*CSS Reset*/
*{
    margin:0px;
    padding:0px;

}
/*Header Styling*/
body{
    background-color: white;
    width: 100%;
    height: 100%;
}

#top{
    color:rgb(84, 245, 10);
    text-align:center;
    font-size:46px;
    font-family: 'Times New Roman', monospace;
}
#top1{
    text-align:center;
    color:black;
    font-size:21px;
    font-family: 'Rastanty Cortez', monospace;
}

.navbar {

    display: flex;
    
    align-items: center;
    
    justify-content: space-between;
    
    padding: 20px;
    
    background-color: teal;
    
    color: #fff;
    
    }
    
    .nav-links a {
    
    color: #fff;
    
    }
    
    /* LOGO */
    
    .logo {
    
    font-size: 32px;
    
    }
    
    /* NAVBAR MENU */
    
    .menu {
    
    display: flex;
    
    gap: 1em;
    
    font-size: 18px;
    
    }
    
    .menu li:hover {
    
    background-color: #4c9e9e;
    
    border-radius: 5px;
    
    transition: 0.3s ease;
    
    }
    
    .menu li {
    
    padding: 5px 14px;
    
    }
    
    /* DROPDOWN MENU */
    
    .services {
    
    position: relative; 
    
    }
    
    .dropdown {
    
    background-color: rgb(1, 139, 139);
    
    padding: 1em 0;
    
    position: absolute; /*WITH RESPECT TO PARENT*/
    
    display: none;
    
    border-radius: 8px;
    
    top: 35px;
    
    }
    
    .dropdown li + li {
    
    margin-top: 10px;
    
    }
    
    .dropdown li {
    
    padding: 0.5em 1em;
    
    width: 8em;
    
    text-align: center;
    
    }
    
    .dropdown li:hover {
    
    background-color: #4c9e9e;
    
    }
    
    .services:hover .dropdown {
    
    display: block;
    
    }

#row1{
   color: black;
    font-weight:bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 35px;
}
/*Button Styling*/
.btn{
    margin-top:15px;
    border: 2px solid white;
    border-radius:10px;
    background-color:rgb(255, 0, 0);
    font-size:20px;
    font-weight:bold;
    font-family: 'calibri light', monospace;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(30, 255, 0);
}


/* #container3{
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px ;
}
#row2{
    width:10vw;
    height:10vh;
    box-shadow: 2px ;
    margin-top:20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin-right: 38px;
    border-radius: 40px;
}
#row2::before{
    content: '';
    background: url('pip.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left:0px;
    width: 24vw;
    height:21vh;
    z-index: -1;
    border-radius: 40px;
}
#row3{
    position: relative;
    width: 10vw;
    height:10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 2px ;
    margin-top:51px;
    margin-bottom: 51px;
    margin-left: 38px;
    border-radius: 40px;
}
#row3::before{
    content: '';
    background: url('pip.jpg') no-repeat center center/cover;
    position: absolute;
    top:0px;
    left:0px;
    width: 24vw;
    height:21vh;
    z-index: -1;
    border-radius: 40px;
} */

#top3{
    text-align: center;
    color:red;
    font-family: 'Ubuntu Mono', monospace;
}
#container4{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 41px;
}  
#row4{
    width: 30vw;
    height: 300px;
    border: 2px solid rgb(222, 73, 73);
    background:url('pip.jpg') no-repeat center center/cover; 
    display: flex;
    justify-content:center;
    align-items:flex-end;
    border-radius: 15px;
}
#row5{
    width: 30vw;
    height: 300px;
    border: 2px solid rgb(222, 73, 73);
    background:url('pip.jpg') no-repeat center center/cover;
    display: flex;
    justify-content:center;
    align-items:flex-end;
    border-radius: 15px;
}
#row6{
    width: 30vw;
    height: 300px;
    border: 2px solid rgb(222, 73, 73);
    background:url('pip.jpg') no-repeat center center/cover;
    display: flex;
    justify-content:center;
    align-items:flex-end;
    border-radius: 15px;
}
/*Designing the footer*/
footer{
    text-align: center;
}
/*Designing of Contact Us*/
#ContactUs{
    width:90vh;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}
.form-shape input, .form-shape select, .form-shape textarea{
   width: 92%;
   padding: 0.5rem;
}
/*Changing the color of placeholder*/
::placeholder{                  
    color:gray;
    align-items: center;
}
/*Making the webpage responsive using media queries*/
@media only screen and (max-width:1131px){
    #row4{
        width: 42vw;
    }
    #row5{
        width:45vw;
    }
    #row6{
        margin-top: 20px;
        width:90vw;
    }
}
@media only screen and (min-width:600px) and (max-width:781px)
{
    #row4{
        width:84vw;
        margin: auto;
        margin-left: 22px;
    }
    #row5{
        
        width:84vw;
        margin: auto;
        margin-top: 20px;
        margin-left: 22px;
    }
    #row6{
        width:84vw;
        margin: auto;
        margin-top: 20px;
        margin-left: 22px;
    }
}
@media only screen and (max-width:600px){
    #row4{
        width:78vw;
        margin: auto;
        margin-left: 3px;
    }
    #row5{
        
        width:78vw;
        margin: auto;
        margin-top: 20px;
        margin-left: 3px;
    }
    #row6{
        width:78vw;
        margin: auto;
        margin-top: 20px;
        margin-left: 3px;
    }
}
@media only screen and (min-height:1000px){
    #navbar{
        height:10vh;
    }
    #container1::before{
        height:39vh;
    }
    #container1{
        height:44vh
    }
}
#Submit{
    color: red;
}
#Reset{
    color: red;
}
